Source: kdepim-runtime
Section: x11
Priority: extra
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>
Build-Depends: cdbs, debhelper (>= 7), quilt, cmake, pkg-kde-tools (>= 0.4.2),
 kdepimlibs5-dev (>> 4:4.3.1), libakonadi-dev (>> 1.2.0), libknotificationitem-1-dev (>= 4:4.3.1),
 libxml2-dev, xsltproc, libstrigiqtdbusclient-dev, libstreams-dev, libboost-dev
Standards-Version: 3.8.3
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/trunk/packages/kdepim-runtime
Vcs-Svn: svn://svn.debian.org/pkg-kde/trunk/packages/kdepim-runtime

Package: kdepim-runtime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: akonadi-kde, libmaildir4
Description: Runtime components for akonadi-kde
 This package contains akonadi agents written using kdelibs.
 Any package that uses akonadi should probably pull this in as a dependency.
 The kres-bridges is also parts of this package.
 .
 This package is part of the kdepim-runtime module.

Package: kdepim-runtime-dbg
Architecture: any
Replaces: kdepim-dbg
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debugging files for akonadi kde runtime components
 This package contains debugging symbols.
 .
 This package is part of the kdepim-runtime module.
